@import 'sections/section-hero';
@import 'sections/section-main-article';
@import 'sections/section-promotional-image';
@import 'sections/section-usps';
@import 'sections/section-how-it-works';
@import 'sections/section-pricing';
@import 'sections/section-testimonials';
@import 'sections/section-faqs';
@import 'sections/section-thank-you';