# ------------------------------
# WordPress project - essentials only
# ------------------------------

# Core WordPress
/wp-admin/
/wp-includes/
/wp-*.php
/index.php
/xmlrpc.php
/license.txt
/readme.html
/.htaccess
/wp-config.php

# Other root stuff
/assets
/googlebc2041e78582c85d.html

# wp-content
/wp-content/*
!/wp-content/themes/
!/wp-content/themes/**
!/wp-content/plugins/
!/wp-content/plugins/**

# Always ignore
/wp-content/uploads/
/wp-content/cache/
/wp-content/upgrade/
/wp-content/backups*/
/wp-content/ai1wm-backups/
/wp-content/wflogs/
/wp-content/languages/
/wp-content/debug.log

# Default WP junk
/wp-content/themes/twenty*/
/wp-content/plugins/hello.php

# Database
/db/
/*.sql

# Logs
*.log

# Build junk
node_modules/
dist/
build/

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
.well-known/
