.header {
	padding: 25px 0;
	background-color: $ww_dark;
	color: $white;
	position: fixed;
	width: 100%;
	display: block;
	top: 0;
	left: 0;
	z-index: 200;
	@extend %transition;
    &.scrolled {
        background-color: rgba($ww_dark,0.95);
    }
    
    @include media-breakpoint-up(md) {
    	padding: 30px 0;
    }
	
	@include e('logo-container') {
		font-size: 18px;
		font-weight: 700;
		a {
			color: $white;
			@extend %transition;
			&:hover {
				color: $ww_pink;
				text-decoration: none;
			}
		}
		
		@include media-breakpoint-up(md) {
			font-size: 24px;
		}
	}
	
	@include e('form-click') {
		//font-size: 24px;
		i {
			cursor: pointer;
			color: $white;
			@extend %transition;
			&:hover {
				color: $ww_pink;
				text-decoration: none;
			}
		}
	}
	
	@include e('mobile-nav') {
		.menu-click {
			font-size: 26px;
			color: $white;
			cursor: pointer;
			@extend %transition;
			i {
				display: block;
			}
			&:hover {
				color: $ww_green;
			}
			
			@include media-breakpoint-up(md) {
				font-size: 32px;
			}
		}
	}
	
	@include e('nav') {
		ul {
			@extend %pmreset;
			display: flex;
			flex-direction: row;
			gap: 18px;
			li {
				@extend %pmreset;
				list-style: none;
				font-size: 14px;
				a {
					color: $white;
					text-decoration: none;
					@extend %transition;
				}
				
				&:hover {
					a {
						color: $ww_pink;
					}
				}
			}
			@include media-breakpoint-up(xl) {
				gap: 30px;
				li {
					font-size: 16px;
				}
			}
			@include media-breakpoint-up(xxl) {
				gap: 40px;
				li {
					font-size: 18px;
				}
			}
		}
	}
}