@mixin default_solid {
	background-color: $grey_dark;
	border-color: $grey_dark;
	color: $grey_light;
	transform: translateY(-5px);
	&:hover {
		background-color: $black;
		border-color: $black;
		text-decoration: none;
		transform: translateY(0px);
	}
}
%default_solid { @include default_solid; }

p.button {
	display: inline-block;
	font-weight: 400;
	
	position: relative;
	@include radius(8px);
	
	padding: 0 !important;
	
	a {
		text-decoration: none;
		padding: $default_button_padding;
		display: block;
		border-width: 2px;
		border-style: solid;
		font-weight: 700;
		cursor: pointer;
		@include radius(8px);
		@extend %transition;
		@extend %default_solid;
	}
	&.solid {
		a {
			@extend %default_solid;
		}
		&.green {
			a {
				background-color: $green;
				border-color: $green;
				color: $grey_light;
				/*&:hover {
					background-color: $green_hover;
					border-color: $green_hover;
				}*/
			}
		}
		&.pink {
			background-color: $ww_pink_hover;
			a {
				background-color: $ww_pink;
				border-color: $ww_pink;
				color: $grey_light;
				/*&:hover {
					background-color: $ww_pink_hover;
					border-color: $ww_pink_hover;
				}*/
			}
		}
		&.yellow {
			background-color: $ww_yellow_hover;
			a {
				background-color: $ww_yellow;
				border-color: $ww_yellow;
				color: $ww_dark;
				/*&:hover {
					background-color: $ww_yellow_hover;
					border-color: $ww_yellow_hover;
				}*/
			}
		}
		&.light {
			a {
				background-color: $grey_light;
				border-color: $grey_light;
				color: $blue;
				&:hover {
					background-color: $blue_hover;
					border-color: $blue_hover;
					color: $grey_light;
				}
			}
		}
	}
	
	&.bigbutton {
		width: 100%;
		text-align: center;
		font-size: 22px;
		margin-top: 30px;
		@include media-breakpoint-up(lg) {
			font-size: 28px;
		}
	}
	&.small {
		font-weight: 100;
		a {
			padding: 3px 7px;
			font-weight: 400;
		}
	}
}