.menu-drawer {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2000;
	height: 0;
	width: 100%;
	
	@include e('layer-1') {
		width: 85%;
		height: calc(var(--vh, 1vh) * 100);
		position: absolute;
		top: 0px;
		left: -100%;
		overflow: hidden;
		background-color: rgba($ww_dark,0.95);
		@extend %transition;
		
		&.open {
			left: 0;
		}
	}
	
	@include e('main-container') {
		position: relative;
		height: 100%;
	}
	
	@include e('header') {
		font-size: 0;
		padding: $default_spacing_xs 0;
	}
	@include e('logo-container') {
		font-size: 22px;
		color: $black;
	}
	@include e('logo') {
		
	}
	
	@include e('close') {
		text-align: right;
		font-size: 26px;
		i, span i {
			color: $white;
			cursor: pointer;
			@extend %transition;
			&:hover {
				color: $ww_green;
			}
		}
	}
	
	@include e('body') {
		ul {
			@extend %pmreset;
			position: absolute;
			width: 100%;
			padding: 30px 15px 0;
			display: flex;
			flex-direction: column;
			gap: 20px;
			left: 0;
			@extend %transition;
			
			&.swiped {
				left: -150%;
				//padding-right: 100%;
			}
			
			@include media-breakpoint-up(sm) {
				gap: 30px;
			}
			
			@include media-breakpoint-up(md) {
				padding: 30px 50px 0;
			}
			
			li {
				margin: 0;
				padding-left: 30px;
				list-style-type: none;
				font-weight: 400;
				font-size: 18px;
				width: 100%;
				display: block;
				&::before {
					font-family: $fontawesome_slab;
					content: "\f105";
					font-weight: 400;
					color: $white;
					position: absolute;
					left: 20px;
					@extend %transition;
				}
				&:hover {
					&::before {
						//color: $ww_pink;
						left: 25px;
					}
				}
				
				@include media-breakpoint-up(sm) {
					font-size: 26px;
					padding-left: 70px;
					&::before {
						left: 50px;
					}
					&:hover {
						&::before {
							left: 55px;
						}
					}
				}
				@include media-breakpoint-up(md) {
					padding-left: 50px;
				}
				
				a {
					color: $white;
					text-decoration: none;
					@extend %transition;
					&:hover {
						color: $ww_pink;
					}
					span {
						display: none;
					}
				}
			}
		}
	}
	@include e('footer') {
		position: absolute;
		bottom: 0;
		display: block;
		width: 100%;
		padding: 40px 0;
	}
	@include e('footer-item') {
		border-bottom: 1px solid $grey_med;
		padding-bottom: 15px;
		margin-bottom: 15px;
		p {
			color: $ww_green;
			font-size: 14px;
			margin-bottom: 10px;
			i { margin-right: 5px; }
			&:last-child {
				color: $white;
				font-size: 16px;
				margin: 0;
			}
			
			&.socials {
				font-size: 28px;
			}
			
			a {
				color: $white;
				text-decoration: none;
				display: inline-block;
				margin-right: 10px;
				@extend %transition;
				&:hover {
					color: $ww_green;
				}
			}
		}
		
		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}
}