.section-usps {
	@extend %pad;
	p,li,h1,h2,h3,h4,h5,h6 {
		font-weight: 300;
		strong {
			font-weight: 700;
		}
	}
	h3 {
		&::after {
			content: '';
			width: 50px;
			height: 1px;
			background-color: $ww_dark;
			display: block;
			margin: 20px auto 0;
		}
	}
	p {
		padding: 0 30px;
	}
	@include e('usp') {
		margin-top: $default_spacing_xs;
		margin-bottom: $default_spacing_xs;
		&:nth-child(even) {
			.section-usps__usp-icon {
				border: 2px solid $ww_yellow;
				background-color: $ww_yellow;
				
			}
		}
	}
	@include e('usp-icon') {
		width: 80px;
		height: 80px;
		margin: 0 auto 20px;
		border: 2px dashed $ww_dark;
		@include radius(150px);
		position: relative;
		i {
			position: absolute;
			font-size: 28px;
			top: 50%;
			left: 0;
			width: 100%;
			transform: translateY(-50%);
			color: $ww_pink;
		}
	}
}